h2 {
    color: #444;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  ul {
    display: flex;
    flex-direction: column;
  }
  
  li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  li:hover {
    background-color: #e3f2fd;
  }
  
  a {
    font-size: 1.1rem;
    font-weight: bold;
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  